{block content}
<div class="hero-unit">
    <h1>AYR ADMIN</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus, dolor labore quas quia quo reiciendis temporibus ullam. Atque, molestias soluta? Blanditiis deleniti eius expedita explicabo itaque, maiores possimus quas?
    </p>
    <p><a href="http://doc.nette.org/cs/security" class="btn btn-primary btn-large">Viac o autorizácii »</a></p>
</div>