#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
    parameters:

    php:
        date.timezone: Europe/Prague
        # zlib.output_compression: yes

    nette:
        application:
            #errorPresenter: Error

        session:
            expiration: 30 days

    services:
        authenticator: Authenticator(%security.salt%)

        themeRepository: ThemeRepository
        userRepository: UserRepository
        clientRepository: ClientRepository
        listingRepository: Admin_moduleRepository
        listingColumnRepository: Admin_module_columnRepository
        generalListingRepository: General_moduleRepository
        invoiceRepository: InvoiceRepository
        invoiceItemsRepository: Invoice_itemsRepository
        projectRepository: ProjectRepository
        taskRepository: TaskRepository
        taskStatusRepository: Task_statusRepository
        timesheetRepository: TimesheetRepository
        Timesheet_dataRepository: Timesheet_dataRepository

        #forms
        InsertEditTimeFactory: InsertEditTimeFactory

        authorizator:
            class: Nette\Security\Permission
            setup:
                - addRole('guest')
                - addRole('user', 'guest')
                - addRole('admin', 'user')
                - addResource('Account:Default')
                - addResource('Account:User')
                - addResource('Account:Client')
                - addResource('Account:Invoice')
                - addResource('Account:Project')
                - addResource('Account:Task')
                - addResource('Account:Time')
                - addResource('Admin:Default')
                - addResource('Admin:Module')
                - allow('user', 'Account:Default') # všetky akcie resource Account:Default
                - allow('user', 'Account:User')
                - allow('user', 'Account:Invoice')
                - allow('user', 'Account:Project')
                - allow('user', 'Account:Task')
                - allow('user', 'Account:Time')
                - allow('admin') # všetky resources a ich akcie

    factories:


production < common:
    includes:
        - config.production.neon

development < common:
    includes:
        - config.devel.neon