<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Obnova hesla</title>
    <style>
    </style>
</head>
<body>
<p>Dobrý deň,</p>

<p>Váše heslo si môžete obnoviť na tejto adrese: <a href="{$link}">{$link}</a>s</p>
</body>
</html>