{block content}
<div class="hero-unit">
    <h1>Hello, altamira!</h1>
    <p>Toto je chraneny modul Account. Homepage (tato stranka) je dostupna zaregistrovanym uzivatelom. Cast Account:Page je
        dostupna len pre administratora. Try.</p>
    <p><a href="http://doc.nette.org/cs/security" class="btn btn-primary btn-large">Viac o autorizácii »</a></p>
</div>