{block content}
<div class="hero-unit">
    <h1>Faktúry!</h1>
    <p>Pre všetkých ktorým sa to hodí (minimálne pre Stepa, ktorý ich kreslí v Adobe Illustrator a pre mňa). Zadarmo.</p>
    {*<p><a href="http://doc.nette.org/cs/security" class="btn btn-primary btn-large">Viac o autorizácii »</a></p>*}
</div>