<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{$basePath}/www/css/invoice.css" />
</head>

<body>
    <div id="mainbox">
        <span class="bold">Dodávateľ</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IČO: {$user->fa_suplier_ico}
        <br/>
        {$user->fa_supplier_name}<br/>
        {$user->fa_supplier_address}<br/>
        {$user->fa_supplier_zip} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {$user->fa_supplier_city}
    </div>

    <div style="float: left; width: 50%; border: 1px solid red;">Content of right panel/column</div>
    <div style="float: left;">Content of left panel/column</div>
    <div style="clear: both">Following content</div>

    faktury.sajgal.com
</body>
</html>