body {
    font-family: Arial,serif;
    font-size: 9px;
    color: #000;
    font-weight: normal;
    font-style: normal;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.spacer {
    width: 20px !important;
}

#mainbox {
    border: 1px solid black;
    padding: 5px;

    width: 100%;
    min-height: 300px;
}